@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap");

/* Color Palette */
$primary_blue: #47b4d2;
$secondary_blue: #ECF7FA;
$primary_yellow: #FEE440;
$text_color: #231F20;
$background_color: #f5f5f5;

/* Fonts */
$text_font: 'Montserrat', sans-serif;
$title_font:   'Oswald', sans-serif;

/* Sign Up  */
body{
    background-color: $background_color;
    font-family: $text_font;
}

h2{
    display: flex;
    justify-content: center;
    font-family: $title_font;
}

.submit_button{
    display: flex;
    justify-content: center;
    align-items: center;
}