@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap");

/* Color Palette */
$primary_blue: #47b4d2;
$secondary_blue: #ECF7FA;
$primary_yellow: #FEE440;
$text_color: #231F20;
$background_color: #f5f5f5;

/* Fonts */
$text_font: 'Montserrat', sans-serif;
$title_font:   'Oswald', sans-serif;

/* Landing */
.coverPic{
  object-fit: cover;
  width: 100%;
  height: 30rem;
  margin-bottom: 3rem;
}

.coverText {
    color: white;
    width: 50%;
    font-family: $title_font;
    font-size: 3.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.landingDescription{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.motto{
    flex-direction: row-reverse;
    font-family: $title_font;
    font-size: 2rem;
    text-align: right;
    border-right: 3px solid $primary_yellow;

}

.description{
    margin-left: 2rem;
    font-family: $text_font;
    font-size: 1.1rem;
}

.blueSpan{
    color: $primary_blue;
}

.yellowSpan{
    color: $primary_yellow;
}

.iAmAcompany{
    margin-top: 3rem;
}

.iAmAcompany1{
    display: flex;
    justify-content: center;
    background-image: url(https://i.imgur.com/tfYNMcz.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 100%;
}

.iAmAcompanyTitle{
    color: white;
    font-family: $title_font;
    width: 70%;
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

.iAmAcompany2{
    display: flex;
    justify-content: center;
    background-color: $background_color;
    height: 25rem;
    width: 100%;
}

.iAmAcompanyText1{
    color: $text_color;
    font-family: $text_font;
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
}

.iAmAcompany3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25rem;
    width: 100%;
}

.iAmAcompanyText2{
    color: $text_color;
    font-family: $text_font;
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    height: 25rem;
}

.iAmApsychologist1{
    display: flex;
    justify-content: center;
    background-image: url(https://i.imgur.com/HFsizRX.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 100%;
}

.iAmApsychologistTitle{
    color: $text_color;
    font-family: $title_font;
    width: 70%;
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

.iAmApsychologist2{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 25rem;
    width: 100%;
}

.iAmApsychologistText1{
    color: $text_color;
    font-family: $text_font;
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
}

.iAmApsychologist3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $background_color;
    height: 25rem;
    width: 100%;
}

.iAmApsychologistText2{
    color: $text_color;
    font-family: $text_font;
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
}

