@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap");

/* Color Palette */
$primary_blue: #47b4d2;
$secondary_blue: #ECF7FA;
$primary_yellow: #FEE440;
$text_color: #231F20;
$background_color: #f5f5f5;
.container-fluid{
    padding: 0;
}

/* Fonts */
$text_font: 'Montserrat', sans-serif;
$title_font:   'Oswald', sans-serif;

/* Sign Up  */
body{
    // background-color: $background_color;
    font-family: $text_font;
}

/* Yellow Button */
.yellowButton{
    background-color: $primary_yellow;
    border: none;
    font-family: $title_font;
    font-size: 1.3rem;
    color: white;
    width: 7rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.fas{
    display: flex;
    justify-content: flex-end;
    color: $background_color;
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.link_home{
    text-decoration: none;
}

h2{
    display: flex;
    justify-content: center;
    font-family: $title_font;
}

h3{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.show{
    font-family: $title_font;
    color: rgb(223, 60, 60);
    font-size: 1.2rem;
}

.notShow{
    display: none;
}

.showError{
    display: flex;
    align-self: center;
    font-family: $title_font;
    color: rgb(223, 60, 60);
    font-size: 1.2rem;
}

.notShowError{
    display: none;
}

/* Landing Button */
.landingButton{
    background-color: $primary_blue;
    border: none;
    font-family: $text_font;
    color: $secondary_blue;
    font-size: 3rem;
    width: 30%;
    height: 5rem;
}

@media (max-width: 768px) {
    .landingButton {
        height: auto;
    }
}

.landingButton:hover{
    background-color: $secondary_blue;
    border: none;
    font-family: $text_font;
    color: $primary_blue;
    font-size: 3rem;
    width: 30%;
    height: 5rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .landingButton:hover {
        height: auto;
    }
}

.landingButton:active{
    text-decoration: none;
}
// NAVBAR \\
.navbar{
    box-shadow: 0 5px 2px -2px rgb(221, 221, 221);
    background-color: white;
}

.navbarLogo{
    font-family: $title_font;
    color: $text_color;
}

.buttonNavbar {
    font-family: $text_font;
    color: $text_color;
    font-size: 1.10rem;
    margin: 0 1rem 0 1rem;
}

.buttonDropDown {
    font-family: $text_font;
    color: $text_color;
    font-size: 1.10rem;
}

.btn-primary {
    background-color: white;
    border: none;
}

.btn-primary:hover {
    background-color: white;
    border: none;
}

.btn-primary:focus {
    background-color: white;
    border: none;
    box-shadow: none;
}

.show > .btn-primary.dropdown-toggle{
    background-color: white;
    border: none;
}
.show > .btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active{
    background-color: white;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
    border: none;
}

.navbarButtons{
    background-color: white;
    border: none;
}

.fa-user {
    color: #f5f5f5;
}

.navbarAvatarButton{
    height: 4rem;
    width: 4rem;
}

// VIEW AND COMPONENTS PROFILE //

.coverPhotoCompany {
    height: 20rem;
    background-image: url("https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.coverPhotoPsy {
    height: 20rem;
    background-image: url("https://images.pexels.com/photos/3184427/pexels-photo-3184427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profileCard {
    display: flex;
    flex-direction: column;
    background-color: $background_color;
}

.avatar {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.imgProfile{
    margin-top: -5rem;
    display: flex;
    justify-content: center; 
}

.titleCard {
    font-family: $title_font;
    font-size: 22px;
}

.bodyCard {
    text-align: center;
    font-family: $text_font;
    font-size: 18px;
}

.descriptionCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.descriptionCard > p {   
    margin-bottom: 0;
}

.lastChildDescription { 
    text-align: left !important;
    padding-left: 1rem;
    margin-top: 1rem;
}

.bottomCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

// CSS PARA VIEW FEED Y COMPONENTES \\
.bodyFeed{
    margin-top: 5rem;
    // margin-bottom: 2rem;
}

.templateWorkshop {
    border: 1px solid $background_color;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 0 1rem 0;
}

.ownerWorkshop {
    font-family: $title_font;
    color: $text_color; 
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ownerSearchWorkshop {
    font-family: $title_font;
    color: $text_color; 
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.titleWorkshop {
    font-family: $title_font;
    color: $text_color;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.bodyWorkshop > p {
    font-family: $text_font;
    color: $text_color;
    margin: 0 0 0 0; 
    font-size: 1.25rem;
}

.bodySearchWorkshop {
    font-family: $text_font;
    color: $text_color;
    margin: 0 0 0 0; 
    font-size: 1.25rem;
}

.descriptionWorkshop {
    font-family: $text_font;
    color: $text_color;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.avatarWorkshop {
    height: 3.7rem;
    width: 3.7rem;
    margin-right: 1rem;
    border-radius: 100%;
}

.avatarSearchWorkshop {
    height: 3.7rem;
    width: 3.7rem;
    margin-right: 1rem;
    border-radius: 100%;
}

.categoryLabel {
    font-family: $title_font;
    color: $text_color;
    border: 1px solid $text_color;
    background-color: $background_color;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.5rem;
    height: 2.8rem;
}

.categoryLabelSearch {
    font-family: $title_font;
    color: $text_color;
    border: 1px solid $text_color;
    background-color: $background_color;
    margin: 0;
    padding: 0.5rem;
    height: 2.8rem;
    width: auto;
}

.profileFeed {
    background-color: $background_color;
    margin-top: 1rem;
}

.imgProfileFeed{
    display: flex;
    justify-content: center; 
    margin-top: 1rem;
}

.bodyCardFeed {
    text-align: center;
    font-family: $text_font;
    font-size: 18px;
}

.titleCardFeed {
    font-family: $title_font;
    font-size: 2rem;
}

//SIGNUP\\

.signUp_body{
    display: flex;
    margin-top: 7.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .signUp_body {
        flex-direction: column;
    }
}

.signUp_leftColumn{
    background-image: url(https://i.imgur.com/Uukdhv3.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 3px 3px rgb(221, 221, 221);
}

@media (max-width: 768px) {
    .signUp_leftColumn {
        display: none;
    }
}

.signUp_rightColumn{
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(221, 221, 221);
}

.signUp_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .signUp_buttons {
        flex-direction: column;
        justify-items: center;
    }
}

.signUp_psycologist_button{
    width: 7rem;
    height: 7rem;
    border: none;
    font-family: $title_font;
    font-size: 1.1rem;
    color: $text_color;
    background-image: url(https://i.imgur.com/iygPCsK.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

@media (max-width: 768px) {
    .signUp_psycologist_button {
        margin-bottom: 0.5rem;
    }
}

.signUp_psycologist_button:hover{
    background-image: none;
    background-color: $primary_yellow;
}

.isPsychologist{
    background-repeat: no-repeat;
    background-size: cover;
}

.signUp_psycologist_button:focus{
    outline: none;
    background-image: none;
    background-color: $primary_yellow;
}

.signUp_company_button{
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
    font-size: 1.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    font-family: $title_font;
    color: white;
    background-image: url(https://i.imgur.com/2V2MPvD.png);
}

@media (max-width: 768px) {
    .signUp_company_button {
        margin-left: 0;
    }
}   

.signUp_company_button:hover{
    background-image: none;
    background-color: $primary_blue;
}

.isCompany{
    background-repeat: no-repeat;
    background-size: cover;
}
.signUp_company_button:focus{
    outline: none;
    background-image: none;
    background-color: $primary_blue;
}

.signUp_form{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.signUp_label_email{
    margin-top: 1rem;
    margin-left: 3rem;
}

.signUp_input{
    margin-left: 3rem;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 0%;
    background-color: $secondary_blue;
    padding-left: 1rem;
    font-size: 0.8rem;
}

.signUp_input:focus{
    outline: none;
}

.signUp_label_password{
    margin-top: 1rem;
    margin-left: 3rem;
}

.termsAndConditions{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 3rem;
}

.termsAndConditions_text{
    font-size: 0.7rem;
    margin-left: 1rem;
}

.linkTermsAndConditions{
    text-decoration: underline;
}

.signUp_submit{
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: none;
    width: 80%;
    height: 3rem;
    background-color: $primary_blue;
    color: white;
    font-family: $title_font;
}

.signUp_submit:hover{
    background-color: #288aa5;
}

.signUp_submit:focus{
    outline: none;
    background-color: #288aa5;
}

@media (max-width: 768px) {
    .signUp_label_email {
        margin-left: 0;
    }
    .signUp_input {
        margin-left: 0;
        width: 100%;
    }
    .signUp_label_password {
        margin-left: 0;
    }
    .termsAndConditions {
        margin-left: 0;
    }
    .signUp_submit {
        margin-left: 0;
        width: 100%;
    }
}

//LOGIN\\

.logIn_body{
    display: flex;
    margin-top: 7.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .signUp_body {
        flex-direction: column;
    }
}

.logIn_rightColumn{
    background-image: url(https://images.unsplash.com/photo-1573497620166-aef748c8c792?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 3px 3px rgb(221, 221, 221);
}

@media (max-width: 768px) {
    .logIn_rightColumn {
        display: none;
    }
}

.logIn_lefttColumn{
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(221, 221, 221);
}

.logIn_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBackLogin{
    display: flex;
    justify-content: left;
}

.logIn_form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.logIn_label_email{
    margin-top: 1rem;
    margin-left: 3rem;
}

.logIn_input{
    margin-left: 3rem;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 0%;
    background-color: $secondary_blue;
    padding-left: 1rem;
    font-size: 0.8rem;
}

.logIn_input:focus{
    outline: none;
}

.logIn_label_password{
    margin-top: 1rem;
    margin-left: 3rem;
}

.logIn_submit{
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: none;
    width: 80%;
    height: 3rem;
    background-color: $primary_blue;
    color: white;
    font-family: $title_font;
}

.logIn_submit:hover{
    background-color: #288aa5;
}

.logIn_submit:focus{
    outline: none;
    background-color: #288aa5;
}

@media (max-width: 768px) {
    .logIn_label_email {
        margin-left: 0;
    }
    .logIn_input {
        margin-left: 0;
        width: 100%;
    }
    .logIn_label_password {
        margin-left: 0;
    }
    .logIn_submit {
        margin-left: 0;
        width: 100%;
    }
}

//COMPONENT ADD WORKSHOP AND VIEW\\

.formAddWorkshop {
    font-family: $text_font;
    font-size: 1.2rem;
    color: $text_color;
    margin-top: 5rem;
}

.inputLabel{
    display: flex;
    flex-direction: column;
}

.titleInputs{
    height: 2rem;
    display: flex;
    align-items: center;
}

.workshopInput{
    height: 2.5rem;
    border: none;
    border-radius: 0%;
    background-color: $secondary_blue;
    padding-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
}

.workshopTextArea{
    height: 10rem;
    border: none;
    background-color: $secondary_blue;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
    margin-bottom: 1rem;
}

.workshopInput, .workshopTextArea:focus{
    outline: none;
}

.titleAddWorkshop{
    display: flex;
    justify-content: center;
    font-family: $title_font;
    margin: 2rem 0 2rem 0;
}

.titleAddSearchWorkshop{
    display: flex;
    justify-content: center;
    font-family: $title_font;
    margin: 2rem 0 2rem 0;
}

.notShow {
    display: none;
}

.showError {
    padding: 0.5;
    color: red;
    font-family: $title_font;
    font-size: 1.25rem;
    padding: 1rem 1rem 1rem 1rem;
}

//FOOTER\\

.footer{
    background-color: $text_color;
    color: $background_color;
}

.footer_row{
    padding: 3rem;
}

.footer_column{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

@media (max-width: 768px) {
    .footer_column {
        margin-left: 0;
    }
}

.footerTitle{
    display: flex;
    align-self: flex-start;
}

.footer_column_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.footer_column_img{
    display: flex;
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .footer_column_img {
        display: flex;
        flex-direction: column;
    }
}

.footer_img{
    color: $background_color;
    width: 3rem;
    font-size: 2rem;
}

@media (max-width: 576px) {
    .footer_img {
        margin-top: 0.3rem;
    }
}

/* Workshop Card*/
.workshopCard{
    display: flex;
    align-self: center;
    margin-top: 1rem;
    height: fit-content;
    border: 3px solid $background_color;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.cardInformation{
    width: 70%;
}

.workshopTitle{
    font-family: $title_font;
    color: $text_color;
    font-size: 1.5rem;
}

.workshopDetails{
    display: flex;
    flex-direction: column;
    font-family: $text_font;
    color: $text_color;
    font-size: 0.8rem;
}
.workshopDetail{
    margin-top: 5rem;
}
.buttons_workshopCard{
    width: 30%;
    position: relative;
}

.deleteButton{
    position: absolute;
    right: 5%;
    border: none;
    background-color: white;
    color: $text_color;
}

.deleteProfile {
    color: $text_color;
    background: none;
    border: none;
    margin-left: 1rem;
}

.editButton{
    position: absolute;
    right: 3rem;
    color: $text_color;
    background-color: white;
    border: none;
    
}

.fatherButton {
    position: relative;
}

.yellowButton_workshopCard{
    border: none;
    background-color: white;
    position: absolute;
    bottom: 0%;
   right: 0%;
}

/* Workshop Detail */
.profile_workshopDetail{
    background-color: $background_color;
    height: 100%;
}

.imgProfile_workshop_detail{
    margin-top: 2rem;
    display: flex;
    justify-content: center; 
}

.workshopDetailCard{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    height: fit-content;
    border-style: solid;
    border: 3px solid $background_color;
    padding: 1.5rem;
}

.crossButton{
    position: absolute;
    top: 0%;
    right: 0%;
}

.workshopTitle{
    font-family: $title_font;
}

.workshopDetailDetails{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.WorkDescription{
    margin-left: 0%;
}

.video{
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

//FORMULARIO DE CONTACTO\\

.formEmail {
    font-family: $text_font;
    font-size: 1rem;
    color: $text_color;
}

.emailTextArea{
    background-color: white;
    border: 3px solid $secondary_blue;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
    margin-bottom: 1rem;
    height: 20rem;
}

.emailInput{
    height: 2.5rem;
    border: 3px solid $secondary_blue;
    background-color: white;
    padding-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
}

.emailInput:valid{
    background-color: $secondary_blue;
}

.emailTextArea:valid{
    background-color: $secondary_blue;
}

.emailTextArea:focus{
    outline: 3px solid $secondary_blue;
    border: 50%;
}

// BOTONES NAV PILLS \\

.pillsButtons {
    font-family: $title_font;
    background-color: white;
    font-size: 1.25rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    color: $text_color
}

.pillsColor {
    font-family: $title_font;
    background-color: white;
    font-size: 1.25rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #d5d1d1;
}

.addWorkshop {
    display: flex;
    justify-content: end;
}

.ButtonBlue{
    background-color: #d5d5d5;
    border: none;
    font-family: $title_font;
    font-size: 1.3rem;
    color: white;
    width: 7rem;
    height: 2.5rem;
    margin-left: 2rem;
}

.ButtonBlueModal{
    background-color: $primary_blue;
    border: none;
    font-family: $title_font;
    font-size: 1.3rem;
    color: white;
    width: 7rem;
    height: 2.5rem;
    margin-left: 2rem;
}

.ButtonBlue:hover{
    background-color: #d6d6d6;
}

.modalHeader{
    border: none;
    display: flex !important;
    justify-content: center !important;
}

.modalFooter {
    border: none;
}
.modalContent{
    border: none;
    font-family: $text_font;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.modalTitle {
    font-family: $title_font;
    font-size: 1.2rem;
    color: $text_color;
    text-align: center;
}

//SEARCHBAR\\

.searchBarDiv{
    margin-top: 1.5rem;
    margin-right: 1rem;
}
    
.searchBarInput{
    height: 2.5rem;
}

.searchBarIconDiv{
    background-color: $primary_blue;
    border-radius: 50%;
    height: 2.5rem;
}

.searchBarIconDiv:active{
    text-decoration: none;
}

.searchBarIcon{
    color: $secondary_blue;
    background-color: $primary_blue;
}

.searchBarIcon:hover{
    text-decoration: none;
}

.searchBarIcon:active{
    text-decoration: none;
}

