@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap");

/* Color Palette */
$primary_blue: #47b4d2;
$secondary_blue: #ECF7FA;
$primary_yellow: #FEE440;
$text_color: #231F20;
$background_color: #f5f5f5;

/* Fonts */
$title_font: 'Montserrat', sans-serif;
$text_font:   'Oswald', sans-serif;

/* Delete Button */
.delete_profileButton{
    color: $primary_blue;
    border: none;
    background-color: white;
}

