@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap");

/* Color Palette */
$primary_blue: #47b4d2;
$hover_blue: #18a8cf;
$secondary_blue: #ECF7FA;
$primary_yellow: #FEE440;
$hover_yellow: rgb(243, 211, 0);
$text_color: #231F20;
$background_color: #f5f5f5;

/* Fonts */
$text_font: 'Montserrat', sans-serif;
$title_font:   'Oswald', sans-serif;


// VIEW AND COMPONENTS PROFILE //

.coverPhoto {
    height: 20rem;
    background-image: url("https://images.unsplash.com/photo-1439405326854-014607f694d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profileCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $background_color;
}

.imgProfile{
    margin-top: -5rem;
    display: flex;
    justify-content: center; 
}

.avatar {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.titleCard {
    font-family: $title_font;
    font-size: 22px;
}

.bodyCard {
    text-align: center;
    font-family: $text_font;
    font-size: 18px;
}

.descriptionCard > p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
}

.bottomCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 
i{
    color: $primary_blue;
}


/* Yellow Button */
.yellowButton{
    background-color: $primary_yellow;
    border: none;
    font-family: $text_font;
    color: white;
    width: 7rem;
    height: 2.5rem;
}

.yellowButton:hover{
    background-color: $hover_yellow;
}

/* Sign Up and Log In Button */
.signUpLogInButton{
    background-color: $primary_blue;
    border: none;
    font-family: $text_font;
    color: white;
    width: 15rem;
    height: 2.5rem;
}

.signUpLogInButton:hover{
    background-color: $hover_blue;
}

/* Delete Button */
.deleteButton{
    border: none;
    background-color: white;
    color: $text_color; 
    font-size: 1rem;
    width: 5%;
}

/* Edit Button */
.editButton{
    border: none;
    background-color: white;
    color: $text_color; 
    font-size: 1rem;
    width: 5%;
}

/* Landing Button */
.landingButton{
    background-color: $secondary_blue;
    border: none;
    font-family: $text_font;
    color: $primary_blue;
    font-size: 1.5rem;
    width: 10rem;
    height: 5rem;
}

.landingButton:hover{
    background-color: $primary_blue;
    border: none;
    font-family: $text_font;
    color: $secondary_blue;
    font-size: 1.5rem;
    width: 10rem;
    height: 5rem;
}